* {padding: 0px;/* border-radius: 10px 10px; */}

	#outerContainer, .sectionContainer, #bottomFooter, #topHeader, .subMenu li a {
		/* background-color: #0030A2; */
	}

	
	#contactFrame {
		width:100%;
		height:100%;
		border: none;
	}


	#contactTel {
		position: absolute;
		top: 2rem;
		left:	2rem;
		width: 100%;
		height: 100%;
	}

	#closeContactPane {
		position: absolute;
		top: 15px;
		right:	15px;
	}

	#contactPane span img {
		width: 20px;
		height: 20px;
	}

	#contactPane span img {
		display: none;
	}

	body:first-of-type{
		background-image: url("../images/underConstruction.jpg");
		background-repeat: no-repeat;
	}	
	ul {
		list-style-type:none;
	}

	.is-active {
		font-weight: 800;
	}

	img#bannerImage {
    	background-image: url("../images/20140411_145449.jpg");
	}

	@media screen and (max-width: 1400px) {

		#welcomeTagLine {
			position: relative;
			color: #ffffff;
			top: 5rem;
			left: 400px;
			font-size: 2.0rem;
			font-style: italic;
			z-index: 2;
		}

		#headerItems li {
			display: inline-block;
			width: 100%;
		/*border: solid 1px black;*/
		}

    	#logo {
    		width: 240px;
    		height: 85px;
		}
		li.navTop {
    		display: inline-block;
    		/*padding-top: 20px;*/
			padding-right: 20px;
			padding-left: 16px;
		}
		#contactMenuList {
			width: 100%;
			padding-top: 40px;
		}
		#welcomeBanner {
			/*padding-top: 15px;*/
		}


		#mobileMenu {
			/*display: none;*/
		}

		#mobileMenu img[src="images/mmenu.png"] {
			position: block;
			display: inline-block;
			width: 90px;
			height: 90px;
			border-radius: 0px;
		}

		/*#mmList a img[src=images/polyreylogo.jpg] {
			position: block;
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 0px;
		}

		#mmList a img[src=images/formicalogo.png] {
			position: block;
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 0px;
		}*/
	}



	@media screen and (max-width: 700px) {

		#pllText {
			font-size: 1.2rem;
		}

		#headerItems li {
			display: inline-block;
			width: 100%;
		/*border: solid 1px black;*/
		}

		#welcomeTagLine {
	    	position: relative;
    		color: #ffffff;
		    top: 2rem;
		    left: 70px;
		    font-size: 2rem;
		    font-style: italic;
		    z-index: 2;
		}

		#contactPane[is-active] {
			position: absolute;
			padding-right: 15px;
			padding-top: 15px;
			top: 25%;
			left: 6%;
			width: 80%;
			height: 60%;
			background-color: white;
			z-index: 999;
			box-shadow: 5px 5px 8px grey;
		}

		.bottomSectionItem {
			/*width: 100%;*/
		}
		li.navTop {
    		display: none;
		}		
		#bottomSectionItem1 {
			border-right: 0px;
			border-bottom: 3px solid black;
			height: 100%;
    		column-count: 1;
		}

		#bottomSectionItem2 {
			border-right: 0;
			border-bottom: 0px;
		}

		#bottomSection {
			padding: 10px;
		}
		#welcomeMessage {
			font-size: 11pt;
		}
		.subMenu li a {
			font-size: 10pt;
		}
		.showDesc span {
			font-size: 10pt;
		}
		#contactMenu {
    		margin-left: 40%;	
		}
		li.contactMenuItem img {
			display: none;
		}
		.mmitem a, .mmitemMain a {
			font-size: 19pt;
		}

	}

	/* Smallest */
	@media screen and (max-width: 400px) {

		div ul li div {
	    	line-height:	2em;
		}

		#pllText {
			font-size: 1.2rem;
		}

		#headerItems li {
			min-width: 280px;
		/*border: solid 1px black;*/
		}

		#welcomeTagLine {
			position: relative;
			color: #ffffff;
			left: 50px;
			font-size: 1rem;
			font-style: italic;
			z-index: 2;
		}

		#logo {
    		width: 170px;
    		height: 65px;
    		margin-left: 30px;
    		margin-top: 0px !important;
		}
		li.navTop {
    		display: none;
		}
		#bannerTopLeft {
			/*padding-left: 2%;*/
		}
		.mmitem a, .mmitemMain a {
			font-size: 14pt;
		}
		#contactMenu {
    		margin-left: 40%;	
		}

		#formicaLink {
			display: none; 
			position: fixed;
			top: 1px;
			left: 1px;
			width: 120px;
			height: 30px;
			background-image: url(../images/formicalogo.png);
			background-repeat: no-repeat;
		}

		#polyreyLink {
			display: none;
			position: fixed;
			top: 1px;
			left: 30%;
			width: 120px;
			height: 30px;
			background-image: url(../images/polyreylogo.jpg);
			background-repeat: no-repeat;
		}

	}

	/*Middle size*/
	@media screen and (min-width: 700px) {

		#pllText {
			font-size: 1.6rem;
		}

		#headerItems li {
			display: inline-block;
			width: 100%;
		/*border: solid 1px black;*/
		}

		#welcomeTagLine {
			position: relative;
			color: #ffffff;
			top: 2rem;
			left: 200px;
			font-size: 2rem;
			font-style: italic;
			z-index: 2;
		}

		#contactPane[is-active] {
			position: absolute;
			padding-right: 15px;
			padding-top: 15px;
			top: 25%;
			left: 15%;
			width: 70%;
			height: 70%;
			background-color: white;
			z-index: 999;
			box-shadow: 5px 5px 8px grey;
		}

		.bottomSectionItem {
			width: 50.0%;
		}
		li.navTop {
    		display: inline-block;
    		/*padding-top: 40px;*/
    		padding-right: 20px;
    		padding-left: 0px;
		}
		#bottomSectionItem1 {
			border-right: 3px solid black;
			border-bottom: 0px;
		}

		#bottomSectionItem2 {
			border-right: 0;
			border-bottom: 0px;
		}

		#bottomSection {
			padding: 0px;
		}
		#welcomeMessage {
			font-size: 18pt;
		}
		.subMenu li a {
			font-size: 12pt;
		}
		.showDesc span {
			font-size: 12pt;
		}
		#mobileMenu {
			display: none;
		}
		li.contactMenuItem img {
			width: 50px;
			height: 50px;
			/*display: none;*/
		}
		#contactMenu {
    		margin-left: 40%;	
		}
		#contactMenuList {
			width: 100%;
			padding-top: 40px;
		}
	}

	.closeMMenu {
		display: none;
	}

	.sectionItem {
		clear: both;
	}


	/* Largest */
	@media screen and (min-width: 1400px) {

		div.menuDesc1  {
		    width: 480px;
		   	min-height: 130px;
	    	opacity: 1;
    		background-color: black;
    		/*position: absolute;
	    	bottom: 380px;*/
    		color: white;
	    	z-index: 100;
    		margin-left: auto;
	    	margin-right: auto;
    		/*border-radius: 10px 10px 10px 10px !important;*/
		}


		#pllText {
			font-size: 2rem;
		}

		#welcomeTagLine {
			/*position: relative;*/
			color: #ffffff;
			/*top: 5rem;*/
			/*left: -400px;*/
			font-size: 2rem;
			font-style: italic;
			z-index: 2;
		}

		#contactPane[is-active] {
			position: absolute;
			padding-right: 15px;
			padding-top: 15px;
			top: 25%;
			left: 25%;
			width: 50%;
			height: 50%;
			background-color: white;
			z-index: 999;
			box-shadow: 5px 5px 8px grey;
		}

    	#logo {
    		/* width: 380px; */
    		height: 115px;
    		/*margin-left: 68px;*/
  		}

		li.navTop {
    		display: inline-block;
    		/*padding-top: 60px;*/
			padding-right: 20px;
			padding-left: 16px;
		}
		#welcomeBanner {
			/*padding-top: 35px;*/
		}
		#contactMenu {
    		margin-left: 30%;	
		}

		#contactMenuList {
			width: 100%;
			padding-top: 65px;
		}

		#formicaLink {
			position: absolute;
			top: 250px;
			left: 5%;
			width: 100px;
			height: 140px;
			background-image: url(../images/formicalogo.png);
			background-repeat: no-repeat;
		}

		#bannerTopLeft {
			/*padding-left: 32%;*/
		}

		#polyreyLink {
			position: absolute;
			top: 405px;
			left: 5%;
			width: 160px;
			height: 50px;
			background-image: url(../images/polyreylogo.jpg);
			background-repeat: no-repeat;
		}
	}

	div ul li div {
    	padding: 10px;
	}

	.textImage {
		position: absolute;
		/* float: right; */
		margin: 5px 0 10px 10px;
		width: 450px;
		height: 250px;
		/* display: none; */
	}

	#mmList {
    position: absolute;
    top: 80px;
    /* left: 20px; */
    /* display: inline-block; */
    width: 20rem;
    height: 45rem;
    background: url(../images/cornerImage.png);
    background-size: 200%;
    z-index: 1000;
    background-repeat: no-repeat;
    overflow: auto;
    /* border: 4px solid black; */
    border-radius: 10px;
	max-width: 250px;
	max-height: 700px;
	}

	.mmitemMain.contactUs, .mmitemMain.findUs {
		height: 11%;
	}

	.mmitemMainImage {
		/* width: 5%; */
		/* height: 11%; */
		margin-top: 10px;
		margin-left: 9%;
		padding-top: 12px;
		padding-bottom: 30px;
	}

	.mmitemMain {
		width: 70%;
		height: 9%;
		margin-top: 10px;
		margin-left: 6%;
		padding-top: 12px;
		/*border: 2px solid black;*/
		background-color: #DCD7D7;
		text-align: center;
		border-radius: 5px;
	}

	.mmitem {
		width: 70%;
		height: 9%;
		margin-top: 14px;
		margin-left: 20%;
		padding-top: 12px;
		background-color: #DCD7D7;
		/*border: 2px solid black;*/
		text-align: center;
		border-radius: 5px;
	}

	.mmitem a, .mmitemMain a {
		text-decoration: none;
	}



	#logo {
		-webkit-transition: width 1s, height 2s;
	}

	#bottomSection {
    	/* border: 3px solid black; */
    	/* background-color: #B0C4DE; */
    	height: auto;
    	min-height: 400px;
    	/* border: 1px solid black; */
 }

	#bottomSectionContainer {
		padding: 0px;
	}

	.bottomSectionHeader {
		border-radius: 0px;
		padding: 4px;
		/*text-decoration: underline;*/
		font-weight: 700;
		/* border: 2px solid black; */
	}

	.bottomSectionItem {
    	display: inline-block;
    	border-radius: 0px;
    	padding-top: 10px;
    	margin-left: auto;
    	margin-right: auto;
    	text-align: center;
		height: 250px;
    	/*height: 100%;*/
       	margin-top: 5px;
       	min-width: 200px;
		column-count:2;
    }

    #seperator {
    	display: inline-block;
    	height: 100px;
    	width: 3px;
    	border: 1px solid black;
    }

	#surround {
		margin-left: auto;
		margin-right: auto;
		/* border: 0px double black; */
		height: 100%;
		max-width: 1100px;
		/* background: -webkit-linear-gradient(#2106F7, #57BFF3); */
		background: -o-linear-gradient(#2106F7, #57BFF3);
		background: -moz-linear-gradient( #2106F7, #57BFF3);
		/* background: linear-gradient(#2106F7, #57BFF3); */
	}

	.sectionItemMain {
		background-color: #B0C4DE;
    	border: solid 3px #0030A2;
    	margin-top: -20px;
	}

	#mainDesc1, #mainDesc2, #mainDesc3, #mainDesc4 {
		position: absolute;
		width: 200px;
		height: 105px;
		z-index: 102;
		margin-right: auto;
		margin-left: 0px;
		margin-top: -40px;
		background-color: black;
		text-align: left;
		padding-left: 10px;
		/*border-radius: 0px 0px !important;*/
		/* box-shadow: 2.5px 2.5px .5px black; */
		border-radius: 3px 3px;
		/* border: double 4px black; */
	}


	.showDesc span {
    /*border: 1px solid black;*/
    border-radius: 0px;
    padding: 3px;
    color: black;
    font-style: italic;
    font-weight: bold;
    /*background-color: #0030A2;*/
}


	.hideDesc {
		display :none;
	}

#mainDesc span {
	border: 1px solid black;
}

.subMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    /*background-color: #B0C4DE;*/
}

.subMenu li a {
    display: block;
    color: white;
    padding: 2px 2px 4px 4px;
    text-decoration: none;
    border-radius: 2px;
}

/* Change the link color on hover */
.subMenu li a:hover, .subMenu li a:focus {
    /*background-color: #0030A2;*/
    background-color: #DCD7D7;
    /*color: white;*/
    color: black;
}

#contactUs a img, #findUs a img {
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2 ease-out;
	transition: .2s ease-in;	
}

#contactUs a img:hover, #findUs a img:hover {
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale();
	transform: scale(1.1);
}

#bannerTopLeft {
	background-color: black;
	text-align: left;
	width:100%;
	height:100%;
	background-image: url(../images/boardroom1.jpg);
	background-size: contain;
	background-position-x: 100%;
	background-repeat: no-repeat;
}

#bannerTopRight {
	padding:0px;
	margin:0px;
	max-width:100%;
	height:100%;
	overflow: hidden;
}

.bannerTopRightImage {
	/*height: 100%;
	min-width: 50%;
	background: url(../images/topbannerimage.png) no-repeat right;
	/* flex-shrink: 0; */
}

#topCornerImage {
	background: url(../images/cornerImage.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	/* border: 1px solid black; */
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#bottomCornerImage {
    background: url(../images/cornerImage.png);
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.1;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    /* right: 0px; */
    z-index: -1;
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}


#welcomeBanner {
		width: 100%;
		height: 220px;
		margin-left: auto;
		margin-right: auto;
		/*border: 1px solid black;*/
		/* margin-top: 1px; */
		/* background-color: #B0C4DE; */
		/* border: solid 3px black; */
		/*padding-left: 40px;
		/* padding-right: 20px; */
		display: inline-flex;
		align-items: center;
	}

	#welcomeMessage {
		font-weight: 300;
		color: white;
		margin-left:15px;
		position: inherit;
		z-index: 2;
	}

	#contactMenu {
    	position: absolute;
    	top: 40px;
    }

	li.contactMenuItem {
		display: inline-block;
    	margin-left: 5px;
    	/*border: 2px solid black;
    	width: 110px;*/
    	text-align: center;
    	/*background-color: #B0C4DE;*/
	}

	p {
    	text-align: justify;
    	padding: 10px;
    	/* overflow: auto; */
    	max-height: 500px;
    	z-index: 999;
 }

	#topHeader {
		width: 200px;
	}
	
	#logo {
    	/* box-shadow: 0 0 3pt 2pt black; */
    	filter: alpha(opacity=40); /* For IE8 and earlier */
    	margin-top: 30px;
 }
	
	li div {
		/*width: 220px;
		height:	220px;*/
		padding-top: 10px;
		padding-bottom: 5px;

	}
	
	.sectionItem img {
		/*width :99%;*/
		height: 290px;
		-webkit-transition: .2s ease-out;
		-moz-transition: .2s ease-out;
		-o-transition: .2 ease-out;
		transition: .2s ease-in;
		box-shadow: 0 0 3pt 2pt black;
	    width: 99%;
   		margin-top: 20px;
	}
	
	img#topOne:hover, img#topTwo:hover, img#topThree:hover, img#topFour:hover  {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale();
		transform: scale(1.1);
	}
	
	#topHeader {
		/* text-align :center; */
		/* height: 80px; */
		/* padding-top: 2%; */
		width: 100%;
		margin-left:auto;
		margin-right:auto;
	}

	div.menuDesc1 {
		cursor: pointer;
	}


	#topHeader a {
	/* background-color: grey; */
	}
	
	#bottomFooter {
		position: fixed;
		bottom: 0px;
		text-align :center;
		height: 30px;
		width: 100%;
		background-color: white;
		z-index: 1;
	}

	#outerContainer {
		/*border: solid 1px black;*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1px;
	}

	.subMenu {

	}
	
	#headerItems {
		text-align: center;
		margin-top: 0px;
		padding-top: 30px;
	}
	
	#headerItems li {
		display: inline-block;
		width: 49%;
		/*border: solid 1px black;*/
	}
	

	#mainItems {
		text-align: center;
		margin-top : 23px;
		margin-bottom: 23px;

	}
	
	#mainItems li {
		display: inline-block;
		border: solid 2px black;
		width: 100%;
		min-height: 600px;
		margin-bottom:	30px;
		/*box-shadow: 0pt 0pt 5pt 1pt black;*/
		/* max-width: 990px; */
	}
	

	#footerItems {
		text-align: center;
		margin-top: 23px;
		padding-bottom: 10px;
		margin-bottom: 0px;
	}
	
	#footerItems li {
		display: inline-block;
		border: solid 1px black;
	}

	#mmList a img[src="images/formicalogo.png"] {
		position: block;
		left: 30px;
		width: 50px;
		border:none;
		padding: 5px;
	}

	#mmList a img[src="images/polyreylogo.jpg"] {
		position: block;
		left: 120px;
		width: 100px;
		border:none;
		padding: 5px;
		margin-left: 10px;
	}

	li.navTop {
		border-right: 2px solid black;
	}

	li.navTop a {
		text-decoration: none !important;
	}

	li.navTop:hover {
		background-color: aqua;
	}

